<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

{{!-- **DO NOT TOUCH UNLESS APPROVED BY REY!!** --}}
  
  {{!-- Bootstrap CSS CDN --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {{!-- <link href="/lib/bootstrap/css/bootstrap.min.css"> --}}

  {{!-- CSS Animate,Owl Carousle, Ionicons CDN Links --}}
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  {{!-- Links to external Stylesheets --}}
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/styles/index.css" media="screen" title="no title" charset="utf-8">
  {{!-- <link rel="stylesheet" href="/styles/search.css" media="screen" title="no title" charset="utf-8"> --}}
  
  {{!-- Fontawesome js file link --}}
  <script src="https://kit.fontawesome.com/357d16e14e.js"></script>

  {{!-- Name/title of website --}}
  <title>FUR FINDER</title>
</head>

<body id="page-top">
  {{{body}}}
  
  {{!-- JS LIBRARIES/LINKS/CDNS --}}
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/lib/popper/popper.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/lib/wow/wow.min.js"></script> 
  <script src="/lib/easing/easing.min.js"></script>
  <script src="/lib/counterup/jquery.waypoints.min.js"></script>
  <script src="/lib/counterup/jquery.counterup.js"></script>
  <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/lib/lightbox/js/lightbox.min.js"></script>
  <script src="/lib/typed/typed.min.js"></script>
  

{{!-- Testing without these links --}}

  {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"


<body style="background-color: white;">
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color:  #B99976;">
  <a class="navbar-brand" href="#">Furry Friend Finder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Shelters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      
    </ul>
  </div>
</nav>

  {{{body}}}
<!-- Footer begin -->
    {{!-- <footer id="footer">
        <div class=" text-center fixed-bottom">
            <div class="card-body">
                &copy FFF
            </div>
        </div>
    </footer> --}}

  {{!-- bootstrap --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"

 
    {{!-- INDEX JS FILE --}}

    <script src="/js/indexAnimations.js"></script>
    <script src="/js/index.js"></script>

    crossorigin="anonymous"></script>
  <script src="/js/index.js" type="text/javascript"></script>


</body>

</html>