<img src="/image/petbg.png" height="100%" width="100%" />
<div class="container">
    <section id = "animal-form" class="search-sec">
        <div class="container">
            <form action="/api/animalSearch" method="post" novalidate="novalidate">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                <select class="form-control search-slt" id="animalSpeciesSearch">
                                    <option>Species</option>
                                    <option value=0>Cat</option>
                                    <option value=1>Dog</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                <select class="form-control search-slt" id="animalStateSearch">
                                    <option>Select State</option>
                                    <option>Alabama</option>
                                    <option>Alaska</option>
                                    <option>Arizona</option>
                                    <option>Arkansas</option>
                                    <option>California</option>
                                    <option>Colorado</option>
                                    <option>Connecticut</option>
                                    <option>Delaware</option>
                                    <option>Florida</option>
                                    <option>Georgia</option>
                                    <option>Hawaii</option>
                                    <option>Idaho</option>
                                    <option>Illinois</option>
                                    <option>Indiana</option>
                                    <option>Iowa</option>
                                    <option>Kansas</option>
                                    <option>Kentucky</option>
                                    <option>Lousiana</option>
                                    <option>Maine</option>
                                    <option>Maryland</option>
                                    <option>Massachusetts </option>
                                    <option>Michigan</option>
                                    <option>Minnesota</option>
                                    <option>Mississippi</option>
                                    <option>Misouri</option>
                                    <option>Montana</option>
                                    <option>Nebraska</option>
                                    <option>Nevada</option>
                                    <option>New Hampshire</option>
                                    <option>New Jersey</option>
                                    <option>New Mexico</option>
                                    <option>New York</option>
                                    <option>North Carolina</option>
                                    <option>North Dakota</option>
                                    <option>Ohio</option>
                                    <option>Oklahoma</option>
                                    <option>Oregon</option>
                                    <option>Pennsylvania</option>
                                    <option>Rhode Island</option>
                                    <option>South Carolina</option>
                                    <option>South Dakota</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Utah</option>
                                    <option>Vermont</option>
                                    <option>Virginia</option>
                                    <option>Washington</option>
                                    <option>West Virginia</option>
                                    <option>Wisconsin</option>
                                    <option>Wyoming</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                <select class="form-control search-slt" id="animalGenderSearch">
                                    <option>Gender</option>
                                    <option value=0>Male</option>
                                    <option value=1>Female</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                <select class="form-control search-slt" id="animalAgeSearch">
                                    <option>Age</option>
                                    <option value=1>1 Years Old</option>
                                    <option value=2>2 Years Old</option>
                                    <option value=3>3 Years Old</option>
                                    <option value=4>4 Years Old</option>
                                    <option value=5>5 Years Old</option>
                                    <option value=6>6 Years Old</option>
                                    <option value=7>7 Years Old</option>
                                    <option value=8>8 Years Old</option>
                                    <option value=9>9 Years Old</option>
                                    <option value=10>10 Years Old</option>

                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                <button id="animalSubmit" type="button" class="btn btn-danger wrn-btn"><i class="fas fa-bone"></i> Fetch</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </section>
</div>
<ul>

        <div class="resultAnimals">
            
        </div>
    {{pets}}
    {{#each pets}}
    {{!-- form/card goes here--}}
        <h3>Pet Species: {{this.petSpecies}}</h3>
        
    {{/each}}
</ul>