


{{!-- Home Navbar,with animations --}}
<div class="navbarIndex">
 <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">FurEver</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#about">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#service">Featured</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#service">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#work">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#blog">Login/Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

 <div id="home" class="intro route bg-image" style="background-image: url(/image/adorable-animal-breed-434090.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h1 class="intro-title mb-4">Welcome to FurEver!</h1>
          <p class="intro-subtitle"><span class="text-slider-items">A local shelter search engine., Where we simplify pet searching just for you!, So what are you waiting for?, Your furry friend awaits for your call!, ,... </span><strong class="text-slider"></strong></p>
        </div>

      </div>
    </div>
  </div>

  



{{!-- File isnt routed right?  --}}







{{!-- 

<div id="home">



<div class="container"> --}}


{{!-- <div class="landingImg" style="height: 100vh; width: 100vw;">
<img src="/image/adorable-animal-breed-434090.jpg " height="100%" width="100%" /> --}}