
{{!-- Home Navbar,with animations --}}
<div class="navbarIndex">
 <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">Companion Finder</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#about">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#service">Featured</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#work">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#blog">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div id="home">



<div class="container">


{{!-- <div class="landingImg" style="height: 100vh; width: 100vw;">
<img src="/image/adorable-animal-breed-434090.jpg " height="100%" width="100%" /> --}}
</div>
