{{!-- Home Navbar,with animations --}}
<div class="navbarIndex">
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">FurEver</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#serfices">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#portfolio">Featured</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#Login">Login/Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div id="home" class="intro route bg-image" style="background-image: url(/image/adorable-animal-breed-434090.jpg)">
  <div class="overlay-itro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <strong>
          <h1 class="intro-title mb-4">Welcome to FurEver!</h1>
          <p class="intro-subtitle"><span class="text-slider-items">A local shelter search engine., Where we simplify
              pet
              searching just for you!, So what are you waiting for?, Your furry friend awaits for your call!, ,...
            </span><strong class="text-slider"></strong></p>
      </div>
    </div>
  </div>
</div>



{{!-- Modal here for login --}}


<div class="container">
  <h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
{{!-- Counter,DEEZ NUMBERS, WHAT DO DEY MEEN???? jk :> --}}

<section id="facts" class="wow fadeIn">
  <div class="container">

    <header class="section-header text-center">
      <h3>Facts About Shelters in The U.S.</h3>
      <p>Here is some data these shelters go through yearly.</p>
    </header>

    <div class="row counters">

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">6500000</span>
        <p>Are Animals that Enter Animal Shelters</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">3300000</span>
        <p>Are Dogs captured.</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">3200000</span>
        <p>Are Cats captured.</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">1500000</span>
        <p>Are Euthanized In The US</p>
      </div>

    </div>

    <div class="facts-img">
      <img src="img/facts-img.png" alt="" class="img-fluid">
    </div>

  </div>
</section><!-- #facts -->

{{!-- About Section, --}}

<section id="about">
  <div class="container">

    <header class="section-header text-center">
      <h3>Why we care</h3>
      <p>We are a group of pet owners whom beleive every pet out there needs a chance. Wether its a grey stray to a
        rescue from a dog fighting ring. Every pet needs the opportunity to be loved and cared for. So we've made it
        simple and easy for you to locate a pet nearby. So what are you waiting for, cause ur "furiend" is. </p>
    </header>


    <section id="serfices">
      <header class="section-header">
        <br><br>
        <h3>Services We provide</h3>
      </header>

      <div class="row about-cols">
        <div class="col-md-6 wow fadeInUp">
          <div class="about-col">
            <div class="img">
              <img src="/image/about-mission.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            </div>
            <h2 class="title"><a href="/search/shelters">Search By Shelter</a></h2>
            <p class="description"></p>
          </div>
        </div>

        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="about-col">
            <div class="img">
              <img src="/image/about-plan.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-list-outline"></i></div>
            </div>
            <h2 class="title"><a href="/search/animals">Search By Animal</a></h2>
            <p class="description"></p>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>


{{!-- featured SECTION  --}}
<section id="portfolio" class="section-bg">
  <div class="container">

    <header class="section-header">
      <h3 class="section-title">Featured Animals</h3>
    </header>

    <div class="row portfolio-container">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
        <div class="portfolio-wrap">
          <figure>
            <img src="/image/puppy1.jpg" class="img-fluid" alt="">
            <a href="/image/puppy1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview"
              title="Preview"><i class="ion ion-eye"></i></a>
            <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">Mason</a></h4>
            {{!-- <p>App</p> --}}
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
        <div class="portfolio-wrap">
          <figure>
            <img src="/image/cat2.jpg" class="img-fluid" alt="">
            <a href="/image/cat2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3"
              title="Preview"><i class="ion ion-eye"></i></a>
            <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">Kitty</a></h4>
            {{!-- <p>Web</p> --}}
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
        <div class="portfolio-wrap">
          <figure>
            <img src="/image/dog2.jpg" class="img-fluid" alt="">
            <a href="/image/dog2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2"
              title="Preview"><i class="ion ion-eye"></i></a>
            <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">Spots</a></h4>
            {{!-- <p>App</p> --}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{!-- Freatured Shelter --}}

<section id="portfolio" class="section-bg">
  <div class="container">

    <header class="section-header">
      <h3 class="section-title">Featured Shelters</h3>
    </header>

    <div class="row portfolio-container">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
        <div class="portfolio-wrap">
          <figure>
            <img src="/image/shelter1.jpeg" class="img-fluid" alt="">
            <a href="/image/shelter1.jpeg" data-lightbox="portfolio" data-title="App 1" class="link-preview"
              title="Preview"><i class="ion ion-eye"></i></a>
            <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">North Darien Animal Shelter</a></h4>
            {{!-- <p>App</p> --}}
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
        <div class="portfolio-wrap">
          <figure>
            <img src="/image/shelter2.jpg" class="img-fluid" alt="">
            <a href="/image/shelter2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3"
              title="Preview"><i class="ion ion-eye"></i></a>
            <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">Watersside Animal Shelter</a></h4>
            {{!-- <p>Web</p> --}}
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
        <div class="portfolio-wrap">
          <figure>
            <img src="/image/shelter3.jpg" class="img-fluid" alt="">
            <a href="/image/shelter3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2"
              title="Preview"><i class="ion ion-eye"></i></a>
            <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">North Barton Animal Shelter</a></h4>
            {{!-- <p>App</p> --}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>