<p></p>
<div class ="row">
    <div class = "col-1"></div>
    <div class = "col-3">
        <h1>My Profile</h1>
    </div>
    <div class = "col-8">
        <h1>About Me</h1>
    </div>
</div>
<div class ="row">
    <div class = "col-1"></div>
    <div class = "col-3">
        <img src="/image/avatartest.png" height="250px" width="300px" />

    </div>
    <div class = "col-8">
        <h1></h1>
        <h5>Name: John Doe</h5>

    </div>
</div>
<div class ="row">
    <div class = "col-1"></div>
    <div class = "col-3">
        <h8></h8>
    </div>
    <div class = "col-8">
        <h5>Pets I Own</h5>
    <img src="/image/samoyedtest.jpg" height="150px" width="200px" />
    </div>
</div>
<div class ="row">
    <div class = "col-1"></div>
    <div class = "col-3">
        <h2>My Favorite Pets</h2>
    </div>
    <div class = "col-8">
    </div>
</div>
<div class ="row">
    <div class = "col-1">
    </div>
    <div class = "col-2">
    <img src="/image/testpet.jpg" height="200px" width="250px" />

    </div>
    <div class = "col-1">
    </div>
    <div class = "col-2">
    <img src="/image/testpet.jpg" height="200px" width="250px" />

    </div>
    <div class = "col-1">
    </div>
    <div class = "col-2">
    <img src="/image/testpet.jpg" height="200px" width="250px" />

    </div>
        <div class = "col-1">
    </div>
    <div class = "col-2">
    <img src="/image/testpet.jpg" height="200px" width="250px" />

    </div>   

</div>
<br>
<br>
<div class ="row">
    <div class = "col-1">
    </div>
    <div class = "col-2">
    <img src="/image/testpet.jpg" height="200px" width="250px" />

    </div>
    <div class = "col-1">
    </div>
    <div class = "col-2">
    <img src="/image/testpet.jpg" height="200px" width="250px" />

    </div>
    <div class = "col-1">
    </div>
    <div class = "col-2">
    <img src="/image/testpet.jpg" height="200px" width="250px" />

    </div>
        <div class = "col-1">
    </div>
    <div class = "col-2">
    <img src="/image/testpet.jpg" height="200px" width="250px" />

    </div>   

</div>
<img src="/image/profilebg.png" height="100%" width="100%" />