#shelter-form{
    position: absolute;
  top: 450px;
  right: 10px;
  width: 1200px;
  height: 200px;
}
#animal-form{
  position: absolute;
  top: 450px;
  right: 0px;
  width: 1200px;
  height: 200px;
}